[Unit]
Description=Service for HeadMouse Pi
After=headmousepi-gadgets.service

[Service]
ExecStart=/hmpi/headmouse.py -v -k
StandardOutput=append:/hmpi/hm.log
StandardError=append:/hmpi/hm.log
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
